/* My Awesome Styles */

/* Diagnostic Styling 
*Change Background Color
*Outline Elements
*/


/* Global. Site. Base. Universal.*/
h1 {
    font-size: 5em;
    text-align: center;
    text-transform: uppercase;
  }

  li{
    font-size: 3em;
    list-style-type: none;
    text-align: center;
  }



/* Homepage */
.home{
  background: url(https://png.pngtree.com/thumb_back/fw800/back_pic/04/26/99/54583abf39ba185.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

.profile{
  height: 500px;
  width: 370px;
}

h1{
  color: purple;
}

.side{
  height: 220px;
  width: 370px;
  filter: grayscale(70%);
  padding: 20px;
}

a{
  color: white;
}

/* Bio */
.bio{
    background: turquoise;
}

/* Contact */
.contact{
background: thistle;
}

/* Portfolio */
figure{
  background: #c0ffee;
  width: 200px;
  padding: 1em;
}