/* My Awesome Styles */

/* Diagnostic Styling 
*Change Background Color
*Outline Elements
*/


/* Global. Site. Base. Universal.*/
h1 {
    font-size: 5em;
    text-align: center;
    text-transform: uppercase;
  }

  li{
    font-size: 3em;
    list-style-type: none;
    text-align: center;
  }



/* Homepage */
.home{
  background: url(https://png.pngtree.com/thumb_back/fw800/back_pic/04/26/99/54583abf39ba185.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

.profile{
  height: 500px;
  width: 370px;
}

h1{
  color: purple;
}

.side{
  height: 220px;
  width: 370px;
  filter: grayscale(70%);
  padding: 20px;
}

a{
  color: white;
}

/* Bio */
.Bio{
    background: #FFD2FD;
}

.biopics{
  width: 300px;
  height: 200px;
  padding: 5px;
}

p{
  font-family: 'Fresca', sans-serif;
  text-indent: 2em;
}

/* Contact */
.contact{
background: thistle;
}

/* Portfolio */
figure{
  background: #F097FB;
  width: 200px;
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

figcaption{
  font-family: 'Fresca', sans-serif;
}

article{
  display: flex;
  flex-direction: row;
  align-items: center;
}

h2{
  text-align: center;
}

.thumbnail{
  width: 150px;
  height: 230px;
}

.thumbnailtwo{
  width: 200px;
  height: 130px;
}

.thumbnailthree{
  width: 200px;
  height: 150px;
}

.portfolio{
  background: url(https://cdn.pixabay.com/photo/2017/08/12/10/13/background-2633962_960_720.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}