/* My Awesome Styles */

/* Diagnostic Styling 
*Change Background Color
*Outline Elements
*/


/* Global. Site. Base. Universal.*/
h1 {
    font-size: 5em;
    text-align: center;
    text-transform: uppercase;
  }

  li{
    font-size: 2em;
    list-style-type: none;
    text-align: left;
  }



/* Homepage */
.home{
  background: #99ffe4;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

.profile{
  height: 500px;
  width: 370px;
  animation: slideInUp 2s;
}

@keyframes slideInUp {
  from {
    transform: translate3d(0, 100%, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

.slideInUp {
  animation-name: slideInUp;
}    


h1{
  color: #000000;
}

.side{
  height: 220px;
  width: 370px;
  filter: grayscale(70%);
  padding: 20px;
  animation: fadeIn 2s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  animation-name: fadeIn;
}

a{
  color: white;
}

/* Bio */
.Bio{
    background: #FFD2FD;
}

.biopics{
  width: 300px;
  height: 200px;
  padding: 5px;
  animation: slideInUp 2s;
}

.biopicstwo{
  width: 300px;
  height: 200px;
  padding: 5px;
  animation: slideInUp 3s;
}

.biopicsthree{
  width: 300px;
  height: 200px;
  padding: 5px;
  animation: slideInUp 4s;
}

.biopicsfour{
  width: 300px;
  height: 200px;
  padding: 5px;
  animation: slideInUp 5s;
}

p{
  font-family: 'Fresca', sans-serif;
  text-indent: 2em;
}

/* Contact */
.contact{
background: thistle;
}

/* Portfolio */
figure{
  background: #F097FB;
  width: 200px;
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

figcaption{
  font-family: 'Fresca', sans-serif;
}

article{
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2{
  text-align: center;
  color: darkblue;
}

.thumbnail{
  width: 150px;
  height: 230px;
  opacity: 0.5;
}

.thumbnail:hover{
  opacity: 1;
}

.thumbnailtwo{
  width: 200px;
  height: 120px;
  opacity: 0.5;
}

.thumbnailtwo:hover{
  opacity: 1;
}

.thumbnailthree{
  width: 200px;
  height: 120px;
  opacity: 0.5;
}

.thumbnailthree:hover{
  opacity: 1;
}

.thumbnailfour{
  width: 200px;
  height: 120px;
  opacity: 0.5;
}

.thumbnailfour:hover{
  opacity: 1;
}

.thumbnailfive{
  width: 200px;
  height: 120px;
  opacity: 0.5;
}

.thumbnailfive:hover{
  opacity: 1;
}

.portfolio{
  background: url(https://cdn.pixabay.com/photo/2017/08/12/10/13/background-2633962_960_720.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
